body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Asegura que la imagen de fondo cubra toda la pantalla */
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Añade estas propiedades para ajustar la imagen de fondo */
    height: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


/* Estilos para el header */
header {
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Estilos para el menú */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo img {
    width: 250px;
    height: 125px;
}


.menu {
    position: relative;
}

.menu-button {
    background-color: #597da2c3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.menu-button:hover {
    background-color: #b1389dd6;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #597da2c3;;
    min-width: 160px;
    box-shadow: 0 8px 16px white;
    z-index: 1000;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.menu:hover .dropdown-content {
    display: block;
}


.symbol img {
    width: 100%;
    max-width: 100px; /* Limita el ancho máximo del símbolo */
    height: auto;
    padding-right: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    max-height: calc(100vh - 200px);
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw; /* Ajusta el espacio entre botones en unidades relativas */
}

.button {
    background-color: #b1389dd6;
    width: auto; /* Ajusta el ancho en unidades relativas */
    height: auto;
    height: auto; /* Permite que la altura se ajuste automáticamente */
    color: white;
    padding: 3vw; /* Ajusta el padding en unidades relativas */
    text-align: center;
    text-decoration: none;
    font-size: 4vw; /* Ajusta el tamaño de fuente en unidades relativas */
    border-radius: 8px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.button img {
    width: 100%;
    max-width: 90%; /* Limita el ancho máximo de la imagen */
    height: auto;
    margin-bottom: 1.5vw; /* Ajusta el margen inferior en unidades relativas */
}

.button:hover {
    background-color: #0056b3;
}

.favorite-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1.5vw 3vw; /* Ajusta el padding en unidades relativas */
    text-align: center;
    font-size: 3vw; /* Ajusta el tamaño de fuente en unidades relativas */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    bottom: 10px;
}

.favorite-button .favorite-icon {
    margin-right: 1vw; /* Ajusta el margen derecho en unidades relativas */
}

.favorite-button.added .favorite-icon {
    color: gold;
}

.favorite-button.added {
    background-color: #45a049;
}

.favorite-button:hover {
    background-color: #45a049;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .menu-button {
        font-size: auto; /* Ajusta el tamaño de fuente en unidades relativas para pantallas pequeñas */
        padding: auto; /* Ajusta el padding en unidades relativas para pantallas pequeñas */
    }

    .dropdown-content a {
        padding: 3vw 4vw; /* Ajusta el padding en unidades relativas para pantallas pequeñas */
        font-size: 5vw; /* Ajusta el tamaño de fuente en unidades relativas para pantallas pequeñas */
    }

    .symbol img {
        max-width: 70px; /* Limita el ancho máximo del símbolo para pantallas pequeñas */
    }

    main {
        padding: 10vw; /* Ajusta el padding en unidades relativas para pantallas pequeñas */
    }

    .button-container {
        gap: 5vw; /* Ajusta el espacio entre botones en unidades relativas para pantallas pequeñas */
    }

    .button {
        font-size: 6vw; /* Ajusta el tamaño de fuente en unidades relativas para pantallas pequeñas */
        padding: 6vw; /* Ajusta el padding en unidades relativas para pantallas pequeñas */
    }

    .button img {
        margin-bottom: 2vw; /* Ajusta el margen inferior en unidades relativas para pantallas pequeñas */
    }

    .favorite-button {
        padding: 3vw 6vw; /* Ajusta el padding en unidades relativas para pantallas pequeñas */
        font-size: 5vw; /* Ajusta el tamaño de fuente en unidades relativas para pantallas pequeñas */
    }

    .favorite-button .favorite-icon {
        margin-right: 2vw; /* Ajusta el margen derecho en unidades relativas para pantallas pequeñas */
    }
}

/* Estilos generales */

/* Media Query para dispositivos de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    body, html {
        font-size: 14px; /* Reducir el tamaño de fuente base */
    }

    header {
        padding: 0.5rem; /* Reducir el padding del encabezado */
    }

    .logo img {
        width: 150px; /* Reducir el tamaño del logo */
        height: auto; /* Mantener la proporción del logo */
    }

    .menu-button {
        font-size: 1rem; /* Reducir el tamaño del botón de menú */
        width: 50px; /* Reducir el tamaño del botón de menú */
        height: 50px; /* Reducir el tamaño del botón de menú */
    }

    .dropdown-content a {
        padding: 10px; /* Ajustar el padding de los elementos del menú desplegable */
        font-size: 1rem; /* Reducir el tamaño de fuente de los elementos del menú desplegable */
    }

    .symbol img {
        max-width: 70px; /* Limitar el ancho máximo del símbolo */
    }

    main {
        padding: 5vw; /* Ajustar el padding en unidades relativas */
    }

    .button-container {
        width: 400px;
        gap: 2vw; /* Ajustar el espacio entre botones en unidades relativas */
    }

    .button {
        font-size: 5vw; /* Ajustar el tamaño de fuente en unidades relativas */
        padding: 3vw; /* Ajustar el padding en unidades relativas */
        text-align: center;
    }

    .button img {
        margin-bottom: 1.5vw; /* Ajustar el margen inferior en unidades relativas */
    }

    .favorite-button {
        padding: 1.5vw 3vw; /* Ajustar el padding en unidades relativas */
        font-size: 3vw; /* Ajustar el tamaño de fuente en unidades relativas */
    }

    .favorite-button .favorite-icon {
        margin-right: 1vw; /* Ajustar el margen derecho en unidades relativas */
    }
}
